# ROSKY.gitignore

jetbot_ros/setup/jetson-inference/
jetbot_ros/catkin_ws/.catkin_workspace
jetbot_ros/catkin_ws/build/
jetbot_ros/catkin_ws/devel/
jetbot_ros/catkin_ws/src/CMakeLists.txt
jetbot_ros/catkin_ws/src/rosky_slam/map/test_20200917.pgm
jetbot_ros/catkin_ws/src/rosky_slam/map/test_20200917.yaml
jetbot_ros/setup/jetson-inference/python/training/
jetbot_ros/setup/jetson-inference/tools/camera-capture/
jetbot_ros/setup/jetson-inference/utils/
jetbot_ros/catkin_ws/.catkin_tools/
jetbot_ros/catkin_ws/install/
jetbot_ros/catkin_ws/logs/
jetbot_ros/cvbridge_build_ws/build
jetbot_ros/cvbridge_build_ws/devel
jetbot_ros/cvbridge_build_ws/install
jetbot_ros/cvbridge_build_ws/logs
jetbot_ros/cvbridge_build_ws/.catkin_tools
**/.ipynb_checkpoints
**/.pyc
jetbot_ros/catkin_ws/src/jetson_camera/src/jetson_camera.pyc
jetbot_ros/catkin_ws/src/jetson_camera/include/jetcam_ros/utils.pyc
jetbot_ros/catkin_ws/src/anti_instagram/include/anti_instagram/*.pyc
jetbot_ros/catkin_ws/src/jetson_camera/include/jetcam_ros/*.pyc
jetbot_ros/catkin_ws/src/ominibot_car/include/ominibot_car/*.pyc
jetbot_ros/catkin_ws/src/rosky_slam/map/*.pgm
jetbot_ros/catkin_ws/src/rosky_slam/map/*.yaml
jetbot_ros/catkin_ws/src/img_recognition/image/*/*.jpg
jetbot_ros/catkin_ws/src/img_recognition/model/*.pth
jetbot_ros/catkin_ws/src/img_recognition/model/recording.yaml
jetbot_ros/catkin_ws/src/jetson_camera/include/jetcam_ros/__pycache__/

