<launch>
	<include file="$(find duckietown)/machines"/>
	<arg name="pkg_name" value="led_detection"/>
		
	<arg name="veh" doc="Name of vehicle. ex: megaman"/>
	<arg name="local" default="false" doc="true for running on laptop. false for running on vehicle."/>
	<arg name="config" default="baseline" doc="Specify a config."/>
	<arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman"/>

	<!-- Run visualizer on local (laptop) -->
	<node ns="$(arg veh)" pkg="$(arg pkg_name)" type="LED_visualizer.py" name="LED_visualizer" output="screen">
	</node>

</launch>