<launch>
	<include file="$(find duckietown)/machines"/>
	<arg name="pkg_name" value="led_detection"/>
		
	<arg name="veh" doc="Name of vehicle. ex: megaman"/>
	<arg name="local" default="false" doc="true for running on laptop. false for running on vehicle."/>
	<arg name="config" default="baseline" doc="Specify a config."/>
	<arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman"/>
	<arg name="continuous" default="False"/> <!-- manual trigger required if false [interactive mode] -->

	<group ns="$(arg veh)">
	  <!-- Run visualizer on local (laptop) -->
	  <node pkg="$(arg pkg_name)" type="LED_visualizer.py" name="LED_visualizer" output="screen">
	  </node>

	  <!-- Run detector on remote (vehicle) -->
	  <node  machine="$(arg veh)" pkg="$(arg pkg_name)" type="LED_detector_node.py" name="LED_detector_node" output="screen">
  			<rosparam command="load" file="$(find duckietown)/config/$(arg config)/led_interpreter/LED_protocol.yaml"/>
			<param name="continuous" type="bool" value="$(arg continuous)" />
	  </node>
	</group>	

</launch>
