#!/usr/bin/env python
PACKAGE = "road_following"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

#gen.add("use_camera_info", bool_t, 0, "Indicates that the camera_info topic should be subscribed to to get the default input_frame_id. Otherwise the frame from the image message will be used.", False)


gen.add ("X", double_t, 0, "X coordinate of the Line", 0, -1, 1) #(start, min, max)
gen.add ("Y", double_t, 0, "Y coordinate of the Line", 0, -1, 1) #(start, min, max)
gen.add ("picture_interval", int_t, 0, "How many images you want to save.", 1, 1, 20) #(start, min, max)
gen.add ("save_image", bool_t, 0, "Start or Stop to save image", False)
gen.add ("image_number", str_t, 0, "Show how many image in your folder, don't type this parameter.", "dataset_xy")

exit(gen.generate(PACKAGE, "road_following", "Draw_XY_Line_Param"))
