<?xml version="1.0"?>

<launch>

    <arg name="veh" doc="Name of vehicle. ex: megaman"/>
    <arg name="local" default="false" doc="true for running on laptop. false for running on vehicle."/>
    <arg name="config" default="baseline" doc="Specify a config."/>
    <arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman." />

    <include file="$(find duckietown)/machines"/>

    <arg name="use_rviz" default="false" />

    <!-- Map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find kbot)/map/test0623.yaml"/>

    <!-- TF setting -->
	<node pkg="tf" type="static_transform_publisher" name="base_footprint2base_link" args="0 0 0.08 0 0 0 /base_footprint /base_link 10"/>
    <node pkg="tf" type="static_transform_publisher" name="base_link2laser_link" args="0 0 0.057 3.1415927 0 0 /base_link /laser_frame 10"/>

    <!-- SENSOR DEVICE -->
    <!-- YDLidar -->
    <node if="$(arg local)" pkg="ydlidar" type="ydlidar_node" name="ydlidar_node" output="screen">
    </node>
    <node unless="$(arg local)" machine="$(arg veh)" pkg="ydlidar" type="ydlidar_node" name="ydlidar_node" output="screen">
    </node>

    <!-- ODOMETRY -->
    <!--rf2o_Laser_Odometry-->
    <node pkg="rf2o_laser_odometry" type="rf2o_laser_odometry_node" name="rf2o_laser_odometry">
        <param name="laser_scan_topic" value="scan"/>        <!-- topic where the lidar scans are being published -->
        <param name="base_frame_id" value="base_footprint"/>            <!-- frame_id (tf) of the mobile robot base. A tf transform from the laser_frame to the base_frame is mandatory -->
        <param name="odom_frame_id" value="odom" />                <!-- frame_id (tf) to publish the odometry estimations -->
        <param name="freq" value="10.0"/>                            <!-- Execution frequency. See "Planar Odometry from a Radial Laser Scanner. A Range Flow-based Approach. ICRA'16"-->
    </node>

    <!-- AMCL -->
    <arg name="init_x" default="0" />
    <arg name="init_y" default="0" />
    <arg name="init_a" default="0" />

    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <!-- Publish scans from best pose at a max of 10 Hz -->
        <param name="transform_tolerance" value="0.2" />
        <param name="gui_publish_rate" value="10.0"/>
        <param name="laser_max_beams" value="50"/>
        <param name="min_particles" value="500"/>
        <param name="max_particles" value="1000"/>
        <param name="kld_err" value="0.05"/>
        <param name="kld_z" value="0.99"/>
        <!-- translation std dev, m -->
        <param name="odom_alpha1" value="0.2"/>
        <param name="odom_alpha2" value="0.2"/>
        <param name="odom_alpha3" value="0.8"/>
        <param name="odom_alpha4" value="0.2"/>
        <param name="laser_z_hit" value="0.5"/>
        <param name="laser_z_short" value="0.05"/>
        <param name="laser_z_max" value="0.05"/>
        <param name="laser_z_rand" value="0.5"/>
        <param name="laser_sigma_hit" value="0.2"/>
        <param name="laser_lambda_short" value="0.1"/>
        <param name="laser_lambda_short" value="0.1"/>
        <param name="laser_model_type" value="likelihood_field"/>

        <!-- <param name="laser_model_type" value="beam"/> -->
        <param name="laser_likelihood_max_dist" value="2.0"/>
        <param name="update_min_d" value="0.01"/>
        <param name="update_min_a" value="0.01"/>
        <param name="resample_interval" value="1"/>
        <param name="transform_tolerance" value="0.1"/>
        <param name="recovery_alpha_slow" value="0.0"/>
        <param name="recovery_alpha_fast" value="0.1"/>

        <param name="use_map_topic" value="true"/>
        <param name="first_map_only" value="true"/>
        <param name="tf_broadcast" value="true"/>

        <param name="odom_frame_id" value="/odom"/>
        <param name="global_frame_id" value="/map"/>
        <param name="base_frame_id" value="/base_footprint"/>
        <param name="odom_model_type" value="diff"/>

        <param name="initial_pose_x" value="$(arg init_x)"/>
        <param name="initial_pose_y" value="$(arg init_y)"/>
        <param name="initial_pose_a" value="$(arg init_a)"/>
        <param name="initial_cov_xx" value="0.25" />
        <param name="initial_cov_yy" value="0.25" />
        <param name="initial_cov_aa" value="0.2" />
    </node>

    <!-- Navstack -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base">
        <!-- local planner -->
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>  
        <rosparam file="$(find kbot)/param/dwa_local_planner_params.yaml" command="load"/>
        
        <!-- costmap layers -->    
        <rosparam file="$(find kbot)/param/local_costmap_params.yaml" command="load"/>
        <rosparam file="$(find kbot)/param/global_costmap_params.yaml" command="load"/> 
        <!-- move_base params -->
        <rosparam file="$(find kbot)/param/move_base_params.yaml" command="load"/>
        <remap from="/odom" to="/rf2o_laser_odometry/odom"/>
    </node>

</launch>
