<?xml version="1.0"?>
<robot name="duckiebot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="pi" value="3.14159265359" />
    <link name="duckiebot">
        <visual>
            <origin xyz="0 0 0.04" rpy="0 0 ${pi}"/>
            <geometry>
                <mesh filename="package://duckietown_description/urdf/meshes/duckiebot.dae" />
            </geometry>
        </visual>
    </link>
</robot> 