<?xml version="1.0"?>
<launch>
    <!-- inverse_kinematics_twist_node -->
    <remap from="inverse_kinematics_twist_node/cmd_vel" to="/cmd_vel"/>
    <include file="$(find jetbot_ros)/launch/inverse_kinematics_twist_node.launch"/>

    <!-- wheels_driver_node -->
    <remap from="wheels_driver_node/wheels_cmd" to="inverse_kinematics_twist_node/wheels_cmd"/>
    <include file="$(find jetbot_ros)/launch/wheels_driver_node.launch"/>
    <!-- End wheels_driver_node -->

</launch>
