<?xml version="1.0"?>
<launch>
    <arg name="veh" default="$(env VEHICLE_NAME)" doc="Name of vehicle. ex: megaman"/>
    <arg name="teleop" value="false"/>


    <include file="$(find jetbot_ros)/launch/jetbot_motion.launch">
        <arg name="veh" value="$(arg veh)"/>
        <arg name="teleop" value="$(arg teleop)"/>
    </include>

</launch>
