<?xml version="1.0"?>
<launch>
  
    <arg name="veh" value="$(env VEHICLE_NAME)" doc="Name of vehicle. ex: megaman"/>
    <rosparam ns="$(arg veh)" command="load" file="$(find jetbot_ros)/param/$(arg veh).yaml" />    <!-- set parameter -->

    <!-- run teleop_key node -->
    <node ns="$(arg veh)" pkg="jetbot_ros" type="teleop_key_v2.py" name="teleop" output="screen">
        <remap from="/$(arg veh)/teleop/cmd_vel" to="/$(arg veh)/jetbot_motors/cmd_vel"/>
    </node>


    <!-- run jetbot motor node -->
    <node ns="$(arg veh)" pkg="jetbot_ros" type="jetbot_motors_v2.py" name="jetbot_motors" >
        <remap from="/teleop/cmd_vel" to="/$(arg veh)/jetbot_motors/cmd_vel"/>
    </node>

    <!-- run set_param node -->
    <node ns="$(arg veh)" pkg="jetbot_ros" type="set_param.py" name="set_param_node" output="screen">
    </node>


</launch>
