<?xml version="1.0"?>

<launch>

    <arg name="veh" default="$(env VEHICLE_NAME)" doc="Name of vehicle. ex: megaman"/>
    <arg name="config" default="baseline" doc="Specify a config."/>
    <arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman." />
    <arg name="use_rviz" default="false" />

    <!-- YDLidar -->
    <node name="ydlidar_node"  pkg="ydlidar"  type="ydlidar_node" output="screen" respawn="false">
        <rosparam file="$(find ydlidar)/param/ydlidar_params.yaml" command="load"/>
    </node>

    <!-- TF setting -->
    <node pkg="tf" type="static_transform_publisher" name="base_footprint2base_link" args="0 0 0.06 0 0 0 /base_footprint /base_link 10"/>

    <node pkg="tf" type="static_transform_publisher" name="base_link2laser_link" args="0.0 0 0.09 3.1415927 0 0 /base_link /laser_frame 10"/>

    <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser4" args="0.0 0.0 0.15 3.1415927 0.0  0.0 /base_footprint /laser_frame 40" />

    <!-- ODOMETRY -->
    <!--rf2o_Laser_Odometry-->
    <node pkg="rf2o_laser_odometry" type="rf2o_laser_odometry_node" name="rf2o_laser_odometry">
        <rosparam file="$(find rf2o_laser_odometry)/param/rf2o_laser_odometry_params.yaml" command="load"/>
    </node>

    <!-- gmapping -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
        <remap from="scan" to="scan"/>
        <rosparam file="$(find jetbot_slam)/param/gmapping_params.yaml" command="load"/>
    </node>
</launch>
